.popup__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style:  normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    color: #000;
    width: 100%;
    padding: 0;
    margin: 0 0 54px;
}

@media screen and (max-width: 760px) {
    .popup__title {
        font-size: 18px;
        margin: 0 0 75px;
    }
}