.header__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    color: #fff;
    width: 100%;
    padding: 0;
    cursor: pointer;
    margin: 0;
}