.register__signin {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    color: #fff;
    width: 100%;
    padding: 0;
    margin: 15px 0 0;
    text-align: center;
}