.elements__like {
    background-image: url(../../../images/like.svg);
    width: 22px;
    height: 19px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 3px;
    opacity: 1;
    transition: opacity ease-in-out .2s;
}

.elements__like:hover {
    opacity: .5;
}