@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__img/header__img.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_logout/header__link_logout.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/container/container.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__bio/profile__bio.css);
@import url(./blocks/profile/__avatar-hover/profile__avatar-hover.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__name/elements__name.css);
@import url(./blocks/elements/__like-counter/elements__like-counter.css);
@import url(./blocks/elements/__counter/elements__counter.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__like/_active/elements__like_active.css);
@import url(./blocks/elements/__delete-card-button/elements__delete-card-button.css);
@import url(./blocks/elements/__delete-card-button/_hidden/elements__delete-card-button_hidden.css);
@import url(./blocks/elements/__template/elements__template.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_place/popup_place_profile.css);
@import url(./blocks/popup/_place/popup_place_cards.css);
@import url(./blocks/popup/_place/popup_place_image.css);
@import url(./blocks/popup/_place/popup_place_infotooltip.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_place/popup__form_place_card.css);
@import url(./blocks/popup/__form/_place/popup__form_place_profile.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_bio.css);
@import url(./blocks/popup/__input/_type/popup__input_type_name.css);
@import url(./blocks/popup/__input/_type/popup__input_type_link.css);
@import url(./blocks/popup/__input/_type/popup__input_type_place-name.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error_active.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_place/popup__save-button_place_card.css);
@import url(./blocks/popup/__save-button/_place/popup__save-button_place_profile.css);
@import url(./blocks/popup/__save-button/popup__save-button_inactive.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__close-button/_place/popup__close-button_place_cards\ button.css);
@import url(./blocks/popup/__close-button/_place/popup__close-button_place_image.css);
@import url(./blocks/popup/__close-button/_place/popup__close-button_place_profile.css);
@import url(./blocks/popup/__inputs/popup__inputs.css);
@import url(./blocks/popup/__inputs-list/popup__inputs-list.css);
@import url(./blocks/popup/__inputs-list-item/popup__inputs-list-item.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__infotooltip-img/popop__infotooltip-img.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/button/button.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__form-fieldset/login__form-fieldset.css);
@import url(./blocks/login/__input-list/login__input-list.css);
@import url(./blocks/login/__input-item/login__input-item.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__submit-button/login__submit-button.css);
@import url(./blocks/login/__signup/login__signup.css);
@import url(./blocks/login/__signup-link/login__signup-link.css);
@import url(./blocks/link/link.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__signin-link/register__signin-link.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__form-fieldset/register__form-fieldset.css);
@import url(./blocks/register/__input-list/register__input-list.css);
@import url(./blocks/register/__input-item/register__input-item.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__submit-button/register__submit-button.css);














.login__error {}

.register__error {}