.header {
  display: flex;
  justify-content: flex-start;
  padding: 45px 0 0;
  margin: 0 auto 40px;
  max-width: 880px;
  border-bottom:rgba(84, 84, 84, 0.7) solid 1px;
}

@media screen and (max-width: 1020px) {
  .header {
    margin: 0 59px 40px;
  }
}

@media screen and (max-width: 838px) {
  .header {
    margin: 0 auto 40px;
    max-width: 720px;
    min-width: 0;
  }
}

@media screen and (max-width: 760px) {
  .header {
    width: 320px;
    padding: 28px 0 0;
    margin: 0 auto 42px;
  }
}